@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4;
}
.btn-blue {
    @apply bg-blue-500 text-white fill-white stroke-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.btn-red {
    @apply bg-red-500 text-white fill-white stroke-white;
}
.btn-red:hover {
    @apply bg-red-700;
}


.bg-ggrc {
    background: #771877;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.dx-grid-label {
    font-size: x-small;
}
.dx-bar-label {
    font-size: x-small;
}

.dx-bar-label {
    font-size: x-small;
}

.mask-icon {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    /* width: 24px; */
    /* height: 24px;  */
}